span:hover{
    cursor: pointer;
}

.column.is-1.has-text-weight-bold{
    border: 2px solid black; border-spacing: 0ch; border-top: 0; text-align: center;
}

#evvegi_atlag{
    border: 3px solid black; border-spacing: 0ch; border-top: 1px solid black; text-align: center;
}

.column.has-text-weight-bold{
    border: 2px solid black; border-right: 0; border-top: 0;
}

.column.is-5{
    border: 2px solid black; border-right: 0; border-top: 0;
}

.hozzadas{
    display: flex;
    gap: 10px;
}

.hozzadas2{
    display: flex;
    gap: 10px;
}

.atlagszoveg.column.has-text-weight-bold{
    border: 3px solid black; border-right: 0; border-top: 1px solid black;
}

@media (min-width: 0em) and (max-width: 769px) {
    body{
        text-align: center;
    }
    .column.has-text-weight-bold{
        border: 2px solid black; border-top: 0;
    }

    .column.is-1.has-text-weight-bold{
        border: 2px solid black; border-top: 0; border-bottom: 3px solid black;
    }

    .column.is-5{
        border: 2px solid black; border-top: 0;
    }
    #evvegi_atlag{
        border-right: 3px solid black;
    }
    .atlagszoveg.column.has-text-weight-bold{
        border: 3px solid black;
        border-top: 1px solid black;
    }
    .hozzadas{
        display: block;
    }
    .hozzadas2{
        display: flex;
        gap: 10px;
        margin-top: 1%;
        justify-content: center;
    }
}